<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">WHATSAPP PLUS</a>
            <a href="{{ site.baseurl }}/about">HAKKIMIZDA & İLETİŞİM</a>
            <a href="{{ site.baseurl }}/whatsapp-plus-sik-sorulan-sorular">SIK SORULAN SORULAR</a>
            <div style="display:none"><a href="https://www.epostakaydol.site/">e posta kur</a> - <a href="https://kral.site/hotmail-oturum-acma-e-posta-kur-hotmail-kaydol">hotmail kaydol</a></div>
          </nav>
        </header>
      </div>
    </div>
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">

        </footer>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
